{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/history.css' %}>
    <title>Word counter</title>
</head>

<body>
    <nav>
        <h3>Word Counter</h3>
        <ul>
            <li><a href="/" class="navLink">Home</a></li>
            <li><a href="signup" class="navLink">Sign Up</a></li>
        </ul>
    </nav>

    <div class="main" style="width:80%;">
        <div class="">
            <h3 id="heading">Password reset sent</h3>
        </div>

        <div class="head">
            <!--Reset Password-->
	        <div class="container">
                  <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>

    </div>

    <footer>

    </footer>
</body>

</html>

     
